#goChatList{
	width : 42px;
	height : 39px;
	float : left;
}

* {
	font-family: 'NEXON Lv2 Gothic';
}

#roomTitle{
	width : 600px;
	height : 40px;
	display : table-cell;
	vertical-align : middle;
}

#roomTitleContent{
	font-size : x-large;
	margin-left : 5px;
}

#userCount{
	vertical-align : middle;
}

#chattingContent{
	width : 100%;
	height : 520px;
}

#chatArea{
	float : left;
	height : 580px;
	min-width : 510px;
	max-width : 580px;
	border : solid 1px;
}

#etcArea{
    float: left;
    height: auto;
    margin-left: 10px;
    width: 150px;
}

#exitBtn{
    background-color: #ea0000;;
    color: white;
    border-radius: 5px;
    width : 100%;
	height: 50px;
	margin-bottom : 10px;
	font-size : 1.1em;
}

#checkme{
    font-size: smaller;
}

#chatting{
	height: 88%;
	min-width : 510px;
	max-width : 580px;
    background-color: #ececc2;
    overflow : auto;
    overflow-x : hidden;
}

#chatting::-webkit-scrollbar{
	width: 10px;
    background-color: #ececc2;
}

#chatting::-webkit-scrollbar-thumb {
	background-color: #dcdcdc;
    border-radius: 10px;
}


#usingArea{
	height : 12%;
	background-color : #ece2e2;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

#writeMsg{
    height: 80%;
    width: 80%;
    margin-top : 1%;
    margin-left : 1%;
    vertical-align: middle;
}

#sendBtn{
    margin-top : 1%;
	width : 15%;
	height : 80%;
	border-radius : 5px;
	background-color: #fd5a;
	vertical-align: middle;
    font-size: 1em;
    border: solid 1px;
}



.noticeArea{
    height: 4%;
    width: auto;
    background-color: gainsboro;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 1%;
    clear : both;
    padding-top : 3px;
    padding-bottom : 3px;
}

.fromMsg, .toMsg{
	padding : 1.5%;
	display : block;
	height : auto;
	width : 100%;
}

.fromMsg{
    min-height: 62px;
}
.toMsg{
	text-align : right;
}

.imgDiv{
    overflow: hidden;
}
.profileImg{
	height : 60px;
	width : 60px;
    border-radius: 70%;
	border: 1px solid white;
	float : left;
	margin-right: 5%;
	
}

.fromChatContent, .toChatContent{
    height: auto;
	min-width : 15px;
	min-height : 21px;
	padding : 10px;
	word-break : break-word;
    display : inline-block;
	position:relative;
	border-radius: 10px;
	text-align : initial;
}

.fromChatContent{
    background-color: #e4cae8;
	max-width : 280px;
}

.toChatContent{
    background-color: #d4dfe4;
	margin-right : 5%;
	max-width : 350px;
}

.fromChatContent:after {
	border-top:15px solid #e4cae8;
	border-left: 15px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 0px solid transparent;
	content:"";
	position:absolute;
	top:10px;
	left:-15px;
}

.toChatContent:after{
	border-top: 15px solid #d4dfe4;
    border-left: 0px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0px solid transparent;
    content: "";
    position: absolute;
    top: 10px;
    left: 100%;
    text-align :initial;
}

.fromMsgTime, .toMsgTime {
	font-size: small;
}

.fromMsgTime{
	margin-left : 10px;
}
.toMsgTime{
	margin-right : 10px;
}

#userListArea{
    height: 470px;
    max-height: 470px;
    overflow: auto;
    overflow-x: hidden;
    margin-top : 10px;
}

#userListArea::-webkit-scrollbar{
	width: 5px;
}

#userListArea::-webkit-scrollbar-thumb {
	background-color: #dcdcdc;
    border-radius: 10px;
}
#chatUserListHeadArea{
	border-bottom : solid 1px;
	text-align : center;
}

#chatUserListHead{
	border-bottom: solid 1px;
	font-size : 1.1em;
}

#chatUserList{
	width : 100%;
}

.chatListUserMenu > td{
	padding : 3px 3px 3px 3px;
	
}

.chatListUserMenu > td:hover{
	background-color : #F5DA81;
}

.chatListUserNick{
	cursor : pointer;
}

.userHiddenMenu{
	list-style : none;
	position : absolute;
	display : none;
	margin : 0px;
    padding-inline-start: 0px;
    z-index : 1;
}
.userHiddenMenu > li{
	background-color : #eee;
	position : relative;
	cursor : pointer;
	border : solid 0px;
	padding: 5px 10px 5px 10px;
}

.userHiddenMenu > li:hover{
	background-color : #fff;
}


@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
