label {
	display : block;
}

#reportTitleArea{
	background-color : #f5da81;
	padding-top : 10px;
	padding-bottom : 10px;
}

#report_content{
	height : 80px;
	width : 450px;
	margin : 0 0 0 2.5%;
	resize : none;
}

#buttonDiv{
    text-align: center;
}

#reportTargetView{
	width : 480px;
	word-break : break-all;
	padding-left : 20px;
}