label {
	display : block;
}
#reportTitle{
	padding-left : 20px;
}
#report_content{
	height : 80px;
	width : 450px;
	margin : 0 0 0 2.5%;
	resize : none;
}
#buttonDiv{
	position : absolute;
	left : 35%;
}
#reportTargetView{
	width : 480px;
	word-break : break-all;
	padding-left : 20px;
}