#search{
	display : inline;
	width : 50px;
}

#sortPart, #sortType{
	height : 33px;
	width : 150px;
	display : inline;
}
#doProcess{
	float : right;
	width : 110px;
}
.reportColName{
	text-align : center!important;
}

tr td {
	vertical-align: middle!important;
	text-align : center;
}

#reportList{
}

.reportContent{
	width : 250px;
	text-align : left;
}
.reportTarget{
	width : 100px;
}
.reportResult{
	width : 110px;
}
.reportContentView{
	width : 250px;
	text-overflow : ellipsis;
}

.float-clear{
	clear : both;
}
