<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="meeteat.dao.report.face.ReportDao">
 	<sql id ="selectReportList">
 		select * from tb_userreport2
 		order by report_time desc
 	</sql>
 
	<select id="getAllReportList" parameterType="meeteat.util.Paging" resultType="meeteat.dto.report.UserReport">
		select * from(
			select rownum rnum, B.* from(
				<include refid="selectReportList" />
			) B
			order by rnum
		)
		where rnum between #{startNo} and #{endNo}
		
	</select> 	
	
	<select id="selectCntAll" parameterType="meeteat.util.Paging" resultType="int">
		select count(*) from (select * from tb_userreport2)
	</select>
	
	<select id="getResultReasonList" parameterType="meeteat.util.Paging" resultType="meeteat.dto.report.ResultReportReason">
		select * from tb_resultreportreason2
	</select>
	
	<select id="getReportByUsernoASC" parameterType="meeteat.util.Paging" resultType="meeteat.dto.report.UserReport">
		select * from(
			select rownum rnum, B.* from(
				select * from tb_userreport2
				where is_processed = 0 
				order by user_no
			)B
			order by rnum
		)
		where rnum between #{startNo} and #{endNo}
	</select>
	<select id="getReportByUsernoDESC" parameterType="meeteat.util.Paging" resultType="meeteat.dto.report.UserReport">
		select * from(
			select rownum rnum, B.* from(
				select * from tb_userreport2
				where is_processed = 0
				order by user_no desc
			)B
			order by rnum
		)
		where rnum between #{startNo} and #{endNo}
	</select>
	<select id="getReportByReportDateASC" parameterType="meeteat.util.Paging" resultType="meeteat.dto.report.UserReport">
		select * from(
			select rownum rnum, B.* from(
				select * from tb_userreport2
				where is_processed = 0 
				order by report_time
			)B
			order by rnum
		)
		where rnum between #{startNo} and #{endNo}
		
	</select>
	
	<select id="getReportByReportDateDESC" parameterType="meeteat.util.Paging" resultType="meeteat.dto.report.UserReport">
		select * from(
			select rownum rnum, B.* from(
				select * from tb_userreport2
				where is_processed = 0
				order by report_time desc
			)B
			order by rnum
		)
		where rnum between #{startNo} and #{endNo}
	</select>
	<select id="getReportByReportReasonASC" parameterType="meeteat.util.Paging" resultType="meeteat.dto.report.UserReport">
		select * from(
			select rownum rnum, B.* from(
				select * from tb_userreport2
				where is_processed = 0
				order by reason_no
			)B
			order by rnum
		)
		where rnum between #{startNo} and #{endNo}
		
	</select>
	<select id="getReportByReportReasonDESC" parameterType="meeteat.util.Paging" resultType="meeteat.dto.report.UserReport">
		select * from(
			select rownum rnum, B.* from(
				select * from tb_userreport2
				where is_processed = 0
				order by reason_no desc
			)B
			order by rnum
		)
		where rnum between #{startNo} and #{endNo}
		
	</select>
	
	<insert id="reportResultSet" parameterType="int">
		insert into tb_resultreport2 (user_no, report_result_date, report_result_detail_no) 
		values(#{user_no}, sysdate, 1)
	</insert>
	
	<update id="userGradeUpdate" parameterType="int">
		update tb_user2 set user_grade = 3
		where user_no= #{user_no}
	</update>
	
	<update id="setIsProcessedReportList" parameterType="int">
		update tb_userreport2 set is_processed = 1
		where user_no = #{user_no}
	</update>
 </mapper>