#eventWrapper{
	width:100%;
	margin:0 auto;
	min-width:650px;
}

#eventSideBar{
	width:25%;
	
}

#eventContent{
	width:75%;
	
}

#eventContent table{
	width:100%;
}

.td_article_title > span:nth-child(1)  {
	text-align: left;
	white-space:nowrap;	
	text-overflow: ellipsis;
	overflow: hidden;
}