#popupManageWrapper{
	width:60%;
	margin: 0 auto;
	min-width:1150px;
}

#eventSideBar{
	width:25%
}



#workBoxes{
	width:70%;
	min-width:785px;
}

#popup{
	width: 45%;
	border:1px solid #ccc;
	height:500px;
	overflow: scroll;
}

#notPopup{
	width: 45%;
	border:1px solid #ccc;
	height:500px;
	overflow: scroll;
}

#popupOperator{
	width: 10%;
	border:1px solid #ccc;
}

.eventContent{
	cursor:pointer;
	border-radius: 10px;
}

.willAdd {
	background:#b2fef7;
	border: 1px solid #b2fef7;
}
.willDelete {
	background:#f06292;
	border: 1px solid #f06292;
}

.notSelected{
	border: 1px solid #ccc;
}