<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="meeteat.dao.recruitBoard.face.RecruitBoardDao">
	
	<insert id="insertRecruitBoard" parameterType="meeteat.dto.recruitBoard.RecruitBoard">
		INSERT INTO tb_board (
			article_no, article_title, article_content, party_location
			, user_no, create_date, file_no, is_delete, article_hit
			, meet_time, board_no)
		VALUES (
			tb_recruitBoard_seq.nextval, #{article_title},#{article_content}, #{party_location, jdbcType=VARCHAR}
			, #{user_no}, sysdate, #{file_no}, #{is_delete}, #{article_hit}
			, to_date(#{meet_time},'YYYY-MM-DDHH24MI'), #{board_no})
	</insert>

</mapper>