@charset "UTF-8";

.clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.change_info{
    overflow: inherit;
    position: relative;
    top: 210px;
/*     left: 440px;  */
    height: 100px;
/*      background-position: -250px -80px;  */

}

.user_id .user_nick {
 	text-align: pull-left; 
}


.tit_set {
	font-weight: bold; 
}

.txt_set{
 	float: right;  
 	color: #5066aa; 
 	margin-bottom : 10px;
}

.box_set{
 	display: flow-root; 
 	position: 10px 25px 10px 0; 
 	border-bottom: 1px solid #ebebeb; 
 	font-size: 12px; 
 	color: #252525;  
 	font-weight: normal; 
 	padding-inline-start: 2.75em;
	padding-inline-end: 2.75em;
	padding-block-start: 1.35em;
	min-inline-size: min-content;

}

.box_manage{
	margin-top: 48px;
	text-align: left;
	max-width: 530px;
	margin-left: 280px;
		
}

#alert-success, #alert-fail{
	display:none;
	
}

#container{
	position: relative;
	z-index: 20;
	max-width:954px;
	margin: 0 auto;
}
#content{
	position: relative;
	padding: 32px 51px 95px;
}
div{
	displayy: block;
}

.c_header{
	padding-bottom: 0px;
	color: #666;
	padding-left: 30px;
}

.c_header .contxt{
	line-height: 19px;
	padding-top: 10px;
	letter-spacing: -1px;
}

.contxt{
	padding-left: 10px;
	
}

p{
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	margin: 0;
	padding: 0;
}

strong{
	font-weight: bold;
}

form{
	display: block;
}

.fs{
	padding: 30px;
}

.tbl_model{
	position: relative;
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
	word-break: keep-all;
	border: 0;
	border-bottom: 1px solid #e5e5e5;
}

input, textarea, button{
	font-size: 12px
}

.border{
	border: 1px solid #F5DA81;s
}
