@charset "UTF-8";
table {
 	table-layout: fixed;
 	max-width: 90% 
}

table, th, td {
	text-align: center;
}
td:nth-child(4) {
	white-space: nowrap;	
	text-overflow: ellipsis;
	overflow: hidden;
}
td:nth-child(5) {
	text-align: left;
	
	white-space:nowrap;	
	text-overflow: ellipsis;
	overflow: hidden;
}

.sh_header {
	top: -4px;
	right: -4px;
	padding: 5px;
	padding: 5px;
/* 	line-height: 19px; */
/* 	letter-spacing: 3px; */
	color: #666;
}
th{
	background-color: #F5DA81;
}